.contactForm {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;

  .inputContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }

  .input,
  .textarea {
    background-color: rgb(var(--sidebar-background-rgb));
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 12px 16px;
    color: rgb(var(--foreground-rgb));
    font-size: inherit;
    font-family: inherit;
    line-height: 1.4em;

    ::placeholder {
      color: rgb(var(--text-color-rgb));
    }
  }

  .textarea {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .input[type='submit'] {
    border: 1px solid rgb(var(--border-color-rgb));
    transition: border-color 350ms ease-out;
    cursor: pointer;
    font-weight: 500;

    &:hover {
      border-color: rgba(var(--text-color-rgb), 0.3);
    }
  }
}

.loadingContainer {
  display: grid;
  place-items: center;
  background-color: rgb(var(--sidebar-background-rgb));
  padding: 12px 16px;
  border: 1px solid transparent;
}
