.codeBlock {
  margin: 20px 0px;

  code {
    &:first-of-type {
      padding-left: 10px;
    }
  }
}

.inlineCode {
  font-family: var(--font-mono);
  background-color: #282b2e;
  padding: 3px 6px;
  border-radius: 3px;

  @media screen and (prefers-color-scheme: light) {
    background-color: #c6c6c6;
    color: black;
  }
}

.blockQuoteContainer {
  padding: 12px;
  padding-left: 24px;
  border-left: 4px solid rgb(var(--accent-color-rgb));
  background-color: rgba(var(--accent-color-rgb), 3%);
  margin: 1rem 0;
  font-style: italic;

  p {
    &:last-of-type {
      margin: 0;
    }
  }
}
