.navLink {
  --active-bg-rgb: 43, 43, 43;
  --active-border-rgb: 57, 57, 57;
  --border-opacity: 0;

  padding: 8px 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  background-color: transparent;
  box-shadow: inset 0px 0px 1px
    rgba(var(--active-border-rgb), var(--border-opacity));
  transition: color ease-in-out 400ms, box-shadow ease-in-out 400ms,
    background-color ease-in-out 400ms;

  svg:not([data-style-type='fill']) {
    stroke: rgb(var(--text-color-rgb));
    transition: stroke ease-in-out 400ms;
  }

  svg[data-style-type='fill'] {
    fill: rgb(var(--text-color-rgb));
    transition: fill ease-in-out 400ms;
  }

  &:hover,
  &.active {
    color: rgb(var(--foreground-rgb));

    svg:not([data-style-type='fill']) {
      stroke: rgb(var(--foreground-rgb));
    }

    svg[data-style-type='fill'] {
      fill: rgb(var(--foreground-rgb));
    }
  }

  &.active {
    --border-opacity: 1;
    background-color: rgb(var(--active-bg-rgb));
  }
}
