.sidebarContainer {
  background-color: rgb(var(--sidebar-background-rgb));
  padding: 40px 24px;
  height: 100vh;
  width: var(--sidebar-width);
  position: fixed;
  left: 0px;
  top: 0px;
  border-right: 1px solid rgb(var(--border-color-rgb));
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: transform 350ms ease-out;
  z-index: 5;

  .heading {
    display: flex;
    gap: 12px;

    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }

    > div {
      flex: 1;
    }

    p {
      line-height: 20px;
    }
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .navHeading {
      letter-spacing: 0.6px;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 16px;
      font-weight: 600;
      padding: 0 12px;
    }
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .positionsContainer {
    overflow: hidden;
    height: 20px;

    div {
      will-change: transform, opacity;
      animation: positionAnimations 4s infinite alternate-reverse ease-in-out;
    }
  }

  .sidebarOverlay {
    transition: opacity 350ms ease-out;
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: #14141452;
    top: 0;
    bottom: 0;
    left: 100%;
    backdrop-filter: blur(4px);
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 1023px) {
    &:not(.open):not(header) {
      transform: translateX(-100%);
    }

    &.open .sidebarOverlay {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.footer {
  padding: 32px;
  border-top: 1px solid rgb(var(--border-color-rgb));
  margin-left: var(--sidebar-width);
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  > div:nth-child(2) {
    display: flex;
    gap: 20px;
    margin-top: 8px;
  }

  @media screen and (max-width: 1023px) {
    margin-left: 0;
    padding: 24px;
  }
}

@keyframes positionAnimations {
  0% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  60% {
    transform: translateY(-20px);
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
  }
}
