.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .heading {
    display: inherit;
    flex-direction: inherit;
    gap: 16px; 

    .quote {
      font-style: italic;
      max-width: 560px;
    }
  }

  .aboutContent {
    gap: 24px;
    display: inherit;
    flex-direction: inherit;
  }
}
