.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 64px;

  .header {
    display: flex;
    flex-direction: column;
    gap: 24px;

    p {
      font-size: 16px;
    }
  }

  .projectsGrid {
    display: grid;
    gap: 32px;

    .project {
      display: flex;
      gap: 24px;
      width: 100%;
      padding: 12px;
      border-radius: 6px;
      background-color: transparent;
      transition: 350ms ease-in;

      img {
        border-radius: 6px;
        object-fit: cover;
        object-position: center;
        width: 200px;
        height: 150px;
      }

      @media screen and (max-width: 719px) {
        flex-direction: column;
        gap: 8px;
        padding: 0;

        .projectDetails {
          padding: 0 8px;
          p {
            line-height: 1.5rem !important;
          }
        }

        img {
          aspect-ratio: 3/1.7;
          width: 100%;
          height: 100%;
        }
      }

      &:hover {
        background-color: rgb(var(--sidebar-background-rgb));
      }

      .projectDetails {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }
  }
}
