:root {
  --max-container-width: 768px;
  --border-radius: 12px;
  --default-font-size: 14px;
  --sidebar-width: 256px;
  --main-container-width: 768px;

  font-family: Inter, sans-serif;

  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background-rgb: 22, 22, 22;
  --foreground-rgb: 242, 242, 242;
  --sidebar-background-rgb: 28, 28, 28;
  --border-color-rgb: 40, 40, 40;
  --text-color-rgb: 124, 127, 130;

  

  --breakpoint-tab: 1024px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--default-font-size);
  color: rgb(var(--text-color-rgb)); 
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

hr {
  opacity: 0.5;
}

main.mainContainer {
  margin-left: var(--sidebar-width);
  padding-top: 120px;
  
  #mainContent {
    margin: auto;    
    width: var(--main-container-width);
    padding: 0 36px;

    p {
      line-height: 1.8rem;
    }
  }

  @media screen and (max-width: 1023px) {
    margin-left: 0;
    padding-top: 160px;

    #mainContent {
      width: 100%;
      padding: 0px 24px;
    }
  }
}

.foreground {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  color: rgb(var(--foreground-rgb));
  line-height: 56px;
  letter-spacing: -2px;

  @media screen and (max-width: 768px) {
    & {
      font-size: 40px;
      line-height: 48px;
    }
  }
}