.toolsPage {
  display: flex;
  flex-direction: column;
  gap: 24px;

  > .foreground {
    font-size: 16px;
  }

  .toolsGrid {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

    @media screen and (max-width: 1023px) {
      grid-template-columns: 1fr;
    }
  }
}
