.blogPage {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.articlesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;

  @media screen and (max-width: 650px) {
    grid-template-columns: 1fr;
    margin-top: 20px;

    img {
        height: 230px;
    }
  }
}
