/* @include base;
@include components;
@include utilities */


html:not(.dark):not(.light){
    color-scheme: light dark;
    scroll-behavior: smooth;
    
}

html.dark{
    color-scheme: dark;
}

html.light{
    color-scheme: light;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: #08dd96;
}
::-webkit-scrollbar-thumb{
    background-color: lightgray;
}
@media (prefers-color-scheme:light) {
    ::-webkit-scrollbar-track{
        background-color: gray;
    }

    ::-webkit-scrollbar-thumb{
        background-color: #08dd96;
    }
}

