@keyframes backgroundAnimation {
  100% {
    background-position: -750px -100px;
  }
}
body {
  font-family: 'Raleway', sans-serif;
  background-image: url(assets/images/lines.svg);
  background-position: -50px -100px;
  animation: backgroundAnimation 1.5s cubic-bezier(0.19, 0.8, 0.63, 1.01)
    forwards;
  transition: background-position 300ms ease;
  background-attachment: fixed;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(14, 13, 13);
  }
}

header {
  transition: background-color ease 300ms;
  position: sticky;
  top: 20px;
  z-index: 100000000;

  @media screen and (max-width: 768px){
    &{
      top: 0;
    }
  }

  
  .header__letter {
    display: inline-grid;
    place-content: center;
    width: 30px;
  }

  @media screen and (max-width: 768px){
    .header__logo{
      color: #10b981;
    }
  }

  .breadcrumbs{
    height: 12px;
    width: 40px;
    justify-content: space-between;
    cursor: pointer;
    transition: height 300ms ease-out;
    

    .line{
      width: 100%;
      height: 1px;
      background-color: #10b981;
    }
  }
}
.hero {
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  h1 {
    opacity: 0;
    animation: fadeInUp 400ms 500ms forwards ease-out;
    line-height: 1em;
    transition: all 500ms ease;
  }
  h4 {
    opacity: 0;
    animation: fadeInUp 600ms 900ms forwards;
  }
}

@keyframes animate {
  0% {
    top: 30%;
    left: 70%;
    transform: translate(-50%, -40%) scale(1.2);
  }
  50% {
    top: 20%;
    left: 40%;
    transform: translate(-60%, -40%) scale(0.9);
  }
  80% {
    top: 70%;
    left: 20%;
    transform: translate(-50%, -80%) scale(1);
  }
  100% {
    top: 30%;
    left: 70%;
    transform: translate(-50%, -40%) scale(1.2);
  }
}
.custom_underline.primary {
  position: relative;
  cursor: pointer;
  font-weight: bold;

  &::before {
    content: '';
    position: absolute;
    background: green;
    bottom: 2px;
    width: 50%;
    height: 5px;
    opacity: 0.5;
    left: 50%;
    transform: translateX(-50%);
  }
}

button {
  transition: background-color 0.3s ease;
}

.hero {
  z-index: 1;
  min-height: 80vh;

  h1,h4{
      color: black;
      position: relative;
      z-index: 1;
  }



  h4{
    color: black;
      margin-bottom: 10px!important;
  }

  @media (prefers-color-scheme: dark) {
    h4{
      color: #eee;
    }
    h1{
      color: white;
    }
  }

  .blurred-blob {
    width: 500px;
    height: 500px;
    opacity: 0;

    @media (prefers-color-scheme: dark) {
      & {
        opacity: 0;
      }
    }

    @media screen and (max-width: 768px){
      &{
        opacity: 0;
        z-index: -1;
      }
    }

    // background-blend-mode: luminosity;
    // mix-blend-mode: lighten;

    &:nth-of-type(1) {
      top: -100px;
      left: -100px;
      // left: 50%;
      // top: 50%;
      // transform: translate(-50%, -50%);
      z-index: 1;
      background-color: rgb(199, 18, 169);
    }

    &:nth-of-type(2) {
      top: 100px;
      left: -100px;
      background-color: turquoise;
    }
    &:nth-of-type(3) {
      background-color: blueviolet;
      // opacity: 0.2;
      top: -100px;
      left: 200px;
    }
  }

  .myImageContainer {
    width: 350px;
    height: 450px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent);


    @media screen and (max-width: 768px){
      width: 300px;
      height: 400px;
      margin-top: 40px;
      box-shadow: none;
    }

    img {
      object-fit: cover;
      -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent);
    }
  }
}
.projectsContainer,
.contact,
.technologies {
  overflow-x: hidden;

  h1 {
    background-image: linear-gradient(to bottom, #1f1f1f, #ababab);
    // margin-bottom: -110px;
    opacity: 0.5;
    -webkit-background-clip: text;
    color: transparent;

    @media (prefers-color-scheme: light) {
      background-image: linear-gradient(to bottom, #cccccc, #757575);
    }
  }
}
.project {
  overflow: hidden;

  @media screen and (max-width:768px) {
    height: 250px;
  }

  h1{
    color: white;
    opacity: 1;
  }

  .project__content {
    background: rgba(54, 54, 54, 0.719);
    backdrop-filter: grayscale(1);
    transform: scale(1) translate(0%, 0%);
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  .project__image {
    transition: transform 0.4s ease-in-out;
  }
  .text-white{
    color: canvastext;
  }
}
.project:hover,
.project--hover {
  .project__content {
    opacity: 1;
  }
  .project__image {
    transform: scale(1.05) rotate(-3deg);
  }
}

.loaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes dotAnimation1 {
  0% {
    transform: translateX(0px) scale(1);
    opacity: 0.3;
  }
  50% {
    transform: translateX(-10px) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateX(0px) scale(1);
    opacity: 0.3;
  }
}

@keyframes dotAnimation2 {
  0% {
    transform: translateX(0px) scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}

@keyframes dotAnimation3 {
  0% {
    transform: translateX(0px) scale(1);
    opacity: 0.3;
  }
  50% {
    transform: translateX(10px) scale(1.2);
    opacity: 1;
  }
  100% {
    transform: translateX(0px) scale(1);
    opacity: 0.3;
  }
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 15px;
  opacity: 0.3;
}
.dot:nth-of-type(1) {
  animation: dotAnimation1 1.2s infinite ease-out;
}
.dot:nth-of-type(2) {
  animation: dotAnimation2 infinite 1.2s ease-out;
  animation-delay: 0.4s;
}
.dot:nth-of-type(3) {
  animation: dotAnimation3 1.2s infinite ease-out;
  animation-delay: 0.8s;
}

.article {
  width: 65%;
  margin: auto;
  margin-top: 30px;

  @media screen and (max-width:768px) {
    width: 100%;
    margin-top: 0;
  }

  > * {
    width: 87%;
    margin: auto;
  }
  .primaryImage {
    width: 100%;
    height: 400px;
    display: block;
    margin: auto;
    object-fit: cover;
    object-position: center;

    @media screen and (max-width:768px) {
      height: 250px;
    }
  }

  @media (prefers-color-scheme:dark){
    h6{
      color: lightgray
    }
  }
}

.projectContent {
  h1, h2, h3, h4, h5, h6{
      font-weight: bold;
  }
  h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  h3 {
    font-size: 1.8em;
    margin-bottom: 0.9em;
    margin-top: 0.9em;
  }

  h4{
    font-size: 1.3em;
    margin-bottom:  0.6em;
    margin-top:  0.6em;
  }
  
  p, ul {
    line-height: 2em;
    font-size: 18px;
    margin-bottom: 1em;
    
    @media (prefers-color-scheme: dark){
      color: lightgray;
    }

    @media screen and (max-width:768px) {
      font-size: 14px;
    }
  }

  ul{
    list-style-type: disc;
    list-style-position: inside;
  }

  iframe{
    height: 400px;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
  }
  img{
    display: block;
  }
}

.technologies {

  @media screen and (max-width:768px) {
    .tech{
      display: flex;
      justify-content: center;
    }
  }

  // img {
  //   margin-top: 1em;
  //   filter: grayscale(1);
  //   mask-image: linear-gradient(to top, transparent, pink 90%);
  //   width: 300px;
  //   height: 300px;
  //   object-fit: contain;
  //   object-position: center;
  //   transition: filter 300ms;

  //   &:hover{
  //     filter: none;
  //     mask-image: none;
  //   }

  //   @media screen and (max-width: 768px) {
  //     width: 150px;
  //     height: 150px;
  //   }
  // }

  .stackContainer{
    align-items: flex-start;
    align-self: flex-start;
    gap: 14px;

    @media screen and (max-width: 768px){
      gap: 10px;
      justify-content: center;
    }
  }

  .stack{
    padding: 8px 16px;
    position: relative;
    cursor: pointer;

    &:before{
      content: '';
      position: absolute;
      width: 3px;
      height: 100%;
      background-color: white;
      left: 0;
      top: 0; 
    }
    @media (prefers-color-scheme:light){
      background-color: rgb(75, 75, 75);
      color: white;
      
      &::before{
        background-color: black;
      }
      
    }
  }
}

.breadcrumbs{
  height: 12px;
  width: 40px;
  justify-content: space-between;
  cursor: pointer;
  transition: height 300ms ease-out;
  
  &:hover{
    height: 10px;
  }

  .line{
    width: 100%;
    height: 2px;
    background-color: #10b981;
  }
}

.contact {
  background-image: url('https://shotstash.com/wp-content/uploads/2018/11/milky-way-stars-1100x733.jpg');
  padding: 4em;
  form{
    flex-direction: column;
    width: 55%;
    margin: 3em;
    display: flex;
    gap: 1.5em;

    label{
      font-size: 20px;
      margin-bottom: 10px;
      display: none;
    }

    input, textarea, button{
      width: 100%;
      height: 80px;
      padding: 1em;
      outline: none;
      background-color: rgb(238, 238, 238);
      border: 2px solid transparent;
      display: block;
      font-size: 18px;
      color: black;

      &::placeholder{
        font-size: 20px;
        color: #1f1f1f;
      }

      &:focus{
        border-color: white;
        color: white;
        background-color: rgba(54, 54, 54, 0.719);
      }
    }
    textarea {
      height: 160px;
    }
    button{
      background: #10b981;
      color: white;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  }

  @media screen and (max-width:768px) {
    padding: 1.5em;
    form{
      width: 100%;

      input,
      textarea,
      button{
        font-size: 16px;
      }
    }
  }
  
}